<header class="container --w-md">
	<div class="--py-lg">
		{% if title == "Index" %}
		<p>Studio Upleft <span class="--text-muted">is the office of Joe Shoop, a designer in Seattle thinking about simplicty in complex interactivity. <a href="/about/">About</a>.</span></p>
		{% else %}
		<div>
			{% assign breadcrumbs = page.url | split: '/' %}
			{% assign pathHome = '' %}

			<nav aria-label="breadcrumbs">
			  <ul>
				<li>
				  <a href="/{{ '/' | slugify }}">&nwarr; Studio Upleft</a>
				</li>
				{% for crumb in breadcrumbs %}
					{% if crumb != '' %}
						{% assign pathHome = pathHome | append: '/' | append: crumb %}
						{% capture crumbTitlecase %}
							{% assign words = crumb | split: '-' %}
							{% for word in words %}
								{{ word | capitalize }}
							{% endfor %}
						{% endcapture %}
						{% if forloop.last %}
							{% continue %}
						{% elsif forloop.first%}
						<li class="first crumb">
							<a href="{{ pathHome }}">&nwarr; {{ crumbTitlecase }}</a>
						{% else %}
						<li class="trail crumb">
							<a href="{{ pathHome }}">&nwarr; {{ crumbTitlecase }}</a>
						{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			  </ul>
			</nav>
		</div>
		{% endif %}
	</div>
	{% if crumb != '' %}<h1>{{ crumbTitlecase }}</h1>{% endif %}
	{% comment %} <nav>
		<ul class="nav-items">
			{% if title == "Index" %}
			<li class="nav-item --active">
				<a class="nav-item-content" id="nav-home" href="/">Work</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-item-content --text-muted" id="nav-home" href="/">Work</a>
			</li>
			{% endif %}
			{% if title == "About" %}
			<li class="nav-item --active">
				<a class="nav-item-content" id="nav-about" href="/about/">About</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-item-content --text-muted" id="nav-about" href="/about/">About</a>
			</li>
			{% endif %}
			{% if title == "Scraps" %}
			<li class="nav-item --active">
				<a class="nav-item-content" id="nav-scraps" href="/scraps/">Scraps</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-item-content --text-muted" id="nav-scraps" href="/scraps/">Scraps</a>
			</li>
			{% endif %}
		</ul>
	</nav> {% endcomment %}
</header>