---
layout: default
---

{% include "_project-intro" %}

<div class="project-content">
  {{ content }}
</div>

{% if nextWork.url %}
  <p class="ctr">
    <strong>Next</strong>:
    <a class="next" href="{{ nextWork.url }}">{{ nextWork.data.title }}</a>
  </p>
{% endif %}
{% if prevWork.url %}
  <p class="ctr">
    <strong>Previous</strong>:
    <a class="previous" href="{{ prevWork.url }}">{{ prevWork.data.title }}</a>
  </p>
{% endif %}