---
layout: default
title: "Index"
---
<ul class="featured-items flow">
  {%- for featured in collections.featured reversed -%}
  <li class="featured-item">
    <div class="flow container --w-md --pt-xl --pb-md">
      <div>
        <p class="--text-lg">
          <span class="--text-muted">{{ featured.data.challenge }}</span>
          <span>{{ featured.data.impact }}</span>
        </p>
        <p class="--text-sm --text-muted">{{ featured.data.role }}</p>
      </div>
    </div>
    <div class="pswp-gallery container --w-xl" id="gallery">
      {%- for image in featured.data.images -%}
      <div class="pswp-gallery__item">
        <a href="{{ featured.url }}{{ image.src }}" data-pswp-width="1200" data-pswp-height="800" target="_blank">
          <img class="thumbnail" src="{{ featured.url }}{{ image.src }}" alt="{{ image.caption }}">
        </a>
      </div>
      {%- endfor -%}
  </li>
  {%- endfor -%}
</ul>

<hr />

<ul class="published-items --py-lg">
  {%- for published in collections.published reversed -%}
  <li class="published-item">
    <a href="{{ published.url }}">
      <div class="thumbnail" style="background-image: url('{{ published.url }}/{{ published.data.thumbnail }}');"></div>
      <div class="--pt-sm">
        <p>{{ published.data.title }}</p>
        <span class="--text-sm --text-muted">{{ published.data.role }}</span>
      </div>
    </a>
  </li>
  {%- endfor -%}
</ul>

<div class="container --w-sm">
  <hr />
</div>