---
layout: default
title: "Index"
description: "Studio Upleft"
---
<ul class="featured-items">
  {%- for featured in collections.featured reversed -%}
  <li class="featured-item ">
    <div class=" content">
      <h2>{{ featured.data.client }}</h2>
      <p class="title">
        <span class="text-muted">{{ featured.data.challenge }}</span>
        <span>{{ featured.data.impact }}</span>
      </p>
      <p class="label">{{ featured.data.role }}</p>
    </div>
    <div class="pswp-gallery" id="gallery">
      <!-- <div class="pswp-gallery__item">
        <a href="{{ featured.url }}{{ featured.data.image }}" data-pswp-width="1200" data-pswp-height="800" target="_blank">
          <img class="thumbnail" src="{{ featured.url }}{{ featured.data.image }}" alt="{{ featured.data.title }}">
        </a>
      </div> -->
      <div class="pswp-gallery__item">
        <a href="https://picsum.photos/1200/800" data-pswp-width="1200" data-pswp-height="800" target="_blank">
          <img class="thumbnail" src="https://picsum.photos/1200/800" alt="{{ featured.data.title }}">
        </a>
      </div>
      <div class="pswp-gallery__item">
        <a href="https://picsum.photos/1200/800" data-pswp-width="1200" data-pswp-height="800" target="_blank">
          <img class="thumbnail" src="https://picsum.photos/1200/800" alt="{{ featured.data.title }}">
        </a>
      </div>
      <div class="pswp-gallery__item">
        <a href="https://picsum.photos/1200/800" data-pswp-width="1200" data-pswp-height="800" target="_blank">
          <img class="thumbnail" src="https://picsum.photos/1200/800" alt="">
        </a>
      </div>
  </li>
  {%- endfor -%}
</ul>

<hr />

<ul class="published-items">
  {%- for published in collections.published reversed -%}
  <li class="published-item">
    <a href="{{ published.url }}" class="">
      <div class="thumbnail" style="background-image: url('{{ published.url }}/{{ published.data.image }}'); background-color: {{ published.data.bg-default }};"></div>
      <div class="content">
        <p class="title">{{ published.data.title }}</p>
        <p class="label">{{ published.data.role }}</p>
      </div>
    </a>
  </li>
  {%- endfor -%}
</ul>